
/* general rules  */
body{
  background: #0B0C10;
}
ul{
  margin: 0;
}
h1{
  color: #66fcf1;
}
h2{
  color: #45a29e;
}
/* universal class */
.pads {
  padding: 1rem;
}
.margs{
  margin: 1rem 0;
}
.btn {
  color: #66fcf1;
}
/* universal class */
/* header  */
/* nav */
nav{
  background-color: #0B0C10;
}
nav .btn{
  border: #66fcf1;
  color: #66fcf1;
}
nav img{
  width: 70px;
}
/* header section */
#welcomehead{
  background-image: url("../img/headerbg.jpg");
  background-position: center;
  background-size: cover;
  color: #c5c6c7;
  height: 70vh;
  position: relative;
}
#welcomehead .shadow{
  background: rgba(20, 30, 32, 0.92);
  width: 100%;
  height: 70vh;
  position: absolute;
}
#welcomehead .txtbox{
  width: 35%;
  left: 10%;
  bottom: 20%;
  position: absolute;
}

/* article sections part */
article section{

}
#mail{
  padding: 3rem 0;
}

#mail .box{
  border: 2px solid white;
  width: 100%;
  position: relative;
  color: white;
}

#mail .box .form-inline .form-group #emailInput{
  width: 100%;
}

#dadi{
  padding: 3rem 0;
}
#dadi .box{
 width: 100%;
 height: 30vh;
 border: 2px solid white;
}



footer{
  background: #0B0C10;
}

footer ul li i{
  color: #66fcf1;
  margin: 1rem 3rem;
  font-size: 3rem;
}
footer ul li i:hover{
  margin: 1rem 3rem;
  font-size: 2.7rem;
}

/* palettes
 #0B0C10
 #1F2833
 #c5c6c7
 #66fcf1
 #45a29e
 */
